{erl_opts, [{i, "src"},
            warnings_as_errors,
            {w, all},
            warn_export_all]}.

{clean_files, [".eunit",
               "ebin/*.beam"]}.

{pre_hooks, [{"(darwin|linux)", compile, "make -C c_src --no-print-directory"}]}.
{post_hooks, [{"(darwin|linux)", clean, "make -C c_src clean --no-print-directory"}]}.

{eunit_opts, [{report,{eunit_surefire,[{dir,"."}]}}]}.

{xref_checks, [fail_on_warning, undefined_function_calls]}.

